absl-py==0.2.2
astor==0.6.2
backcall==0.1.0
backports-abc==0.5
bleach==1.5.0
cloudpickle==0.5.3
cycler==0.10.0
Cython==0.28.3
dask==0.18.1
decorator==4.3.0
entrypoints==0.2.3
gast==0.2.0
grpcio==1.13.0
h5py==2.8.0
html5lib==0.9999999
ipykernel==4.9.0
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
-e git+https://github.com/lmkoch/medpy/@b06b6decf41c63489e746f6a83e8fa5ff509adfa#egg=MedPy
mistune==0.8.3
nbconvert==6.5.1
nbformat==4.4.0
networkx==2.1
nibabel==2.3.0
notebook==5.6.0
numpy==1.14.5
opencv-contrib-python==3.4.3.18
pandas==0.20.3
pandocfilters==1.4.2
parso==0.2.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.1.0
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.0
ptyprocess==0.6.0
pydicom==1.1.0
Pygments==2.2.0
pynrrd==0.2.4
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
pyzmq==17.1.2
qtconsole==4.4.1
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tornado==5.1
tqdm==4.23.4
traitlets==4.3.2
typing==3.6.4
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.4.1
